<script src="https://cdnjs.cloudflare.com/ajax/libs/nestedSortable/2.0.0/jquery.mjs.nestedSortable.js"></script>
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">CodeClarity</a>
		</div>
	</div>
</nav>
<div class="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<h3>Tags</h3>
			</li>
			<li class="tags">
				<a href="#">Dummy tag</a>
			</li>
			<li class="tags">
				<a href="#">Dummy tag</a>
			</li>
			<li class="tags">
				<a href="#">Dummy tag</a>
			</li>
			<li class="sidebar-brand">
				<h3>Filters</h3>
			</li>
			
			<li class="filters">
				<a href="#">Dummy</a>
			</li>
			<li class="filters">
				<a href="#">Dummy</a>
			</li>
			<li class="filters">
				<a href="#">Dummy</a>
			</li>
			<li class="filters">
				<a href="#">Dummy</a>
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<% if (false) %>
				<div class="col-md-12 object-tree">
					<!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
					<div class="tree">
						<% @itemsWithNoParent.each do |item|
						has_children = item.hasChildren? %>
						<div class="item" data-itemid="<%= item.id %>">
							<i class="item-expander glyphicon glyphicon-plus"<% if(!has_children) %> style="visibility:hidden;" <% end %>></i>
							<span class="item-name" contenteditable="true" data-name="name"><%= item.name %></span>
							
							<% if(has_children) %>
							<div class='collapse'></div>
							<% end %>
						</div>
						<% end %>
						
					</div>
				</div>
				<% end %>
				<div class="new-tree tree col-md-12">
					<div id="fontSizeWrapper">
						<label for="fontSize">Tree Zoom</label>
						<input type="range" value="1" id="fontSize" step="0.05" min="1" max="1.5" />
					</div>
					<div class="project-title">
						<h3>Tree</h3>
					</div>

					<ul class="tree" id="sortable">
						<li class="item root" data-itemid="0" id="0">
							<div class="root-fake-handler"></div>
							<ul class="children">
								<% if @itemsWithNoParent.length != 0 

								@itemsWithNoParent.each do |item|
								has_children = item.hasChildren? %>
									<li class="item" data-itemid="<%= item.id %>" id="item_<%= item.id %>">
									<i class="fa fa-bars mover" aria-hidden="true"></i>
									<% if(has_children) %>
										<input type="checkbox" data-itemid="<%= item.id %>" id="c<%= item.id %>"/>
										<label class="expander" for="c<%= item.id %>"></label>
									<% end %>
									<div class="tree_label item-name" data-parentid="0" data-itemid="<%= item.id %>" data-name="name" contenteditable="true" id="item_<%= item.id %>"><%= item.name %></div>
									<ul class="children"></ul>
									</li>
								<% end %>

								<% else %>
									<li class="item" id="item_<%= item.id %>">
										<div class="tree_label item-name first-item-placeholder" placeholder="Click to input your first item" contenteditable="true" data-name="name"></div>
									</li>
								<% end %>
							</ul>
						</li>
					</ul>
				</div>
				<div class="object-editor closed">
					<ul class="breadcrumb-onepage">
					</ul>
					<p>
						<span>ID:</span>
						<span class="item-id" data-name="id" data-itemid></span>
					</p>
					<p>
						<span>Name:</span>
						<span class="item-name" contenteditable="true" data-name="name" data-itemid></span>
					</p>
					<p>
						<span>Parent:</span>
						<span class="item-parent" data-name="parent_name" data-itemid></span>
					</p>
					<p>
						<span>Description:</span>
						<span class="item-desc" contenteditable="true" data-name="description" data-itemid></span>
					</p>
					<p>
						<span>Creator:</span>
						<span class="item-by" contenteditable="true" data-name="by" data-itemid></span>
					</p>
				</div>
			</div>
			<div class="loader">
				<div class="cube-wrapper">
					<div class="cube-folding">
						<span class="leaf1"></span>
						<span class="leaf2"></span>
						<span class="leaf3"></span>
						<span class="leaf4"></span>
					</div>
					<span class="loading" data-name="Loading">Loading</span>
				</div>
			</div>
		</div>
		<div id="dialog-confirm" title="Delete item with children?">
			<p>
				<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Removing this item will also remove its children. Are you sure?</p>
		</div>
		<!-- <footer>
			<p>© 2016 Flashstarts, Inc.</p>
		</footer> -->
	</div>